<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aloogn.fs.user_subject.mapper.UserSubjectMapper">
  <resultMap id="BaseResultMap" type="com.aloogn.fs.user_subject.bean.UserSubject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="CHAR" property="account" />
    <result column="subject_id" jdbcType="VARCHAR" property="subject_id" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creat_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, account, subject_id, creat_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.aloogn.fs.user_subject.bean.UserSubjectCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aloogn.fs.user_subject.bean.UserSubjectCriteria">
    delete from user_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aloogn.fs.user_subject.bean.UserSubject">
    insert into user_subject (id, account, subject_id, 
      creat_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=CHAR}, #{subject_id,jdbcType=VARCHAR}, 
      #{creat_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aloogn.fs.user_subject.bean.UserSubject">
    insert into user_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="subject_id != null">
        subject_id,
      </if>
      <if test="creat_time != null">
        creat_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=CHAR},
      </if>
      <if test="subject_id != null">
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="creat_time != null">
        #{creat_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aloogn.fs.user_subject.bean.UserSubjectCriteria" resultType="java.lang.Long">
    select count(*) from user_subject
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_subject
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=CHAR},
      </if>
      <if test="record.subject_id != null">
        subject_id = #{record.subject_id,jdbcType=VARCHAR},
      </if>
      <if test="record.creat_time != null">
        creat_time = #{record.creat_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_subject
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=CHAR},
      subject_id = #{record.subject_id,jdbcType=VARCHAR},
      creat_time = #{record.creat_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aloogn.fs.user_subject.bean.UserSubject">
    update user_subject
    <set>
      <if test="account != null">
        account = #{account,jdbcType=CHAR},
      </if>
      <if test="subject_id != null">
        subject_id = #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="creat_time != null">
        creat_time = #{creat_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aloogn.fs.user_subject.bean.UserSubject">
    update user_subject
    set account = #{account,jdbcType=CHAR},
      subject_id = #{subject_id,jdbcType=VARCHAR},
      creat_time = #{creat_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--  连接查询  -->
  <select id="selectUserByExample" parameterType="java.lang.String" resultType="com.aloogn.fs.user_subject.bean.SchoolUserSubject">
    select subject.subject_name,
           user.id,
           user.password,
           user.name,
           user.sex,
           user.phone,
           user.QQ,
           user.wechat,
           user.address,
           user.email
    from user, subject, user_subject
    where user.id = user_subject.account AND
          subject.id = user_subject.subject_id AND
          user_subject.account = #{value};
    </select>
</mapper>